In [ ]:
!pip install sovai[full]

### Screens and Filters

You can use any of the 100s of features as filtering and selection criteria for identifying novel investment opportunities.

In [1]:
import sovai as sov

sov.token_auth(token="visit https://sov.ai/profile for your token")

Downloading and saving new file.

In [2]:
df_comprehensive = sov.data("factors/comprehensive")

                   profitability   value  solvency  cash_flow  illiquidity  \
ticker date
ZZ     2013-02-15         40.000 100.000    89.000     28.000       32.000
       2013-02-22         41.000 100.000    89.000     28.000        7.000
       2013-03-01         42.000 100.000    90.000     28.000        6.000
       2013-03-08         42.000 100.000    90.000     28.000        8.000
       2013-03-15         42.000 100.000    90.000     28.000       18.000

                   momentum_long_term  momentum_medium_term  \
ticker date
ZZ     2013-02-15              67.000                46.000
       2013-02-22              66.000                40.000
       2013-03-01              58.000                20.000
       2013-03-08              61.000                24.000
       2013-03-15              56.000                17.000

                   short_term_reversal  price_volatility  dividend_yield  \
ticker date
ZZ     2013-02-15               57.000            27.000          27.000
       2013-02-22               56.000            27.000          27.000
       2013-03-01               42.000            26.000          26.000
       2013-03-08               63.000            26.000          26.000
       2013-03-15               69.000            24.000          24.000

                   earnings_consistency  small_size  low_growth  \
ticker date
ZZ     2013-02-15                44.000      53.000      86.000
       2013-02-22                46.000      53.000      86.000
       2013-03-01                47.000      52.000      86.000
       2013-03-08                46.000      53.000      85.000
       2013-03-15                46.000      53.000      85.000

                   low_equity_issuance  bounce_dip  accrual_growth  \
ticker date
ZZ     2013-02-15               86.000      82.000          80.000
       2013-02-22               82.000      83.000          80.000
       2013-03-01               82.000      76.000          80.000
       2013-03-08               83.000      78.000          81.000
       2013-03-15               85.000      86.000          82.000

                   low_depreciation_growth  current_liquidity  low_rnd  \
ticker date
ZZ     2013-02-15                   42.000             15.000   72.000
       2013-02-22                   42.000             52.000   71.000
       2013-03-01                   42.000             51.000   72.000
       2013-03-08                   42.000             46.000   71.000
       2013-03-15                   42.000             27.000   72.000

                   momentum  market_risk  business_risk  political_risk  \
ticker date
ZZ     2013-02-15    57.000       34.000         39.000          29.000
       2013-02-22    53.000       38.000         31.000          30.000
       2013-03-01    35.000       41.000         30.000          30.000
       2013-03-08    41.000       44.000         29.000          34.000
       2013-03-15    33.000       47.000         30.000          36.000

                   inflation_fluctuation  inflation_persistence  returns
ticker date
ZZ     2013-02-15                 75.000                 17.000    0.005
       2013-02-22                 79.000                 25.000   -0.005
       2013-03-01                 79.000                 20.000    0.005
       2013-03-08                 78.000                 19.000    0.005
       2013-03-15                 80.000                 25.000   -0.005

Let's focus on the sensitivity of firms on business_risk indicators, high value means they move in close conjunction with business risks.

In [8]:
df_risk = df_comprehensive.get_latest("business_risk")[["business_risk"]]; df_risk

                   business_risk
ticker date
SCM    2024-07-12        100.000
DISTR  2024-07-12        100.000
VWEWW  2024-07-12        100.000
IVCBW  2024-07-12        100.000
CADL   2024-07-12        100.000
...                          ...
AXON   2024-07-12          1.000
ITUB   2024-07-12          1.000
WAT    2024-07-12          1.000
IOBT   2024-07-12          1.000
UDMY   2024-07-12          1.000

[6725 rows x 1 columns]

There are a lot of small firms in this list, I would like to isolate only large caps.

In [10]:
df_mega = df_risk.select_stocks("mega"); df_mega

                   business_risk
ticker date
SHEL   2024-07-12         92.000
AZN    2024-07-12         89.000
KO     2024-07-12         86.000
NVS    2024-07-12         86.000
UNH    2024-07-12         85.000
...                          ...
CRM    2024-07-12          8.000
IBM    2024-07-12          7.000
AMD    2024-07-12          4.000
INTC   2024-07-12          4.000
ACN    2024-07-12          2.000

[69 rows x 1 columns]

From the large cap's I would prefer to select those with business risk sensitivity below 10 percent.

In [12]:
df_ten = df_mega.query("business_risk <= 10")

In [13]:
df_ten

                   business_risk
ticker date
HD     2024-07-12         10.000
TMO    2024-07-12          9.000
ASML   2024-07-12          8.000
CRM    2024-07-12          8.000
IBM    2024-07-12          7.000
AMD    2024-07-12          4.000
INTC   2024-07-12          4.000
ACN    2024-07-12          2.000

And of course all of this could be written in one line!

In [15]:
df_ten = sov.data("factors/comprehensive").get_latest("business_risk")[["business_risk"]].select_stocks("mega").query("business_risk <= 10"); df_ten

                   business_risk
ticker date
HD     2024-07-12         10.000
TMO    2024-07-12          9.000
ASML   2024-07-12          8.000
CRM    2024-07-12          8.000
IBM    2024-07-12          7.000
AMD    2024-07-12          4.000
INTC   2024-07-12          4.000
ACN    2024-07-12          2.000